@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TM System Demo</h1>
    <p class="lead">Task Management System is free to help a company track the performance in their projects.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           
        </p>
        <p>
            <ul>
                <li>@Html.ActionLink("Create A New Project", "../Projects/Create")</li>
                <li>@Html.ActionLink("Project List", "../Projects/Index")</li>
                <li>@Html.ActionLink("View your Tasks", "../Tasks/Index")</li>
                <li>@Html.ActionLink("Tasks Over Deadline", "../Tasks/TaskOverDeadline")</li>

            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Notifications</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Urgent Notes</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>